body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('/img/contacto\ fondo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

.logo {
    width: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.contacto {
    max-width: 600px;
    margin: 20px auto;
    background-color: rgba(35, 25, 25, 0.253);
    padding: 20px;
    border-radius: 10px;
}

.contacto h2 {
    color: #4CAF50;
    margin-bottom: 20px;
}

form {
    display: grid;
    grid-gap: 10px;
}

form label {
    font-weight: bold;
}

form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

form textarea {
    resize: vertical;
}

form button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
}
